* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding: 20px;
}

img {
  width: 100%;
}

code {
  font-family: "Anonymice Nerd Font", monospace, monospace;
}

.video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* 
    Un comentario random
*/
